/* General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    color: black;
}

html{
    scroll-behavior: smooth;
}


section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

a {
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* NAVIGATION */
.nav, .nav-links{
    display: flex;
}
.nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links{
    gap: 2rem;
    font-size: 1.5rem;
}
.nav-links a:hover{
    color: grey;
    text-underline-offset: 1rem;
}
.nav .logo{
    font-size: 2rem;
}
.nav .logo:hover{
    cursor: default;
}

/*HAMBURGER MENU */

.hamburger-nav{
    display: none;
}
.hamburger-menu{
    position: relative;
    display: inline-block;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}
.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f0f0f0;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: none;
}


#goals ul li, #links ul li {
    background: white;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
}


/* PROFILE*/

 #profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
 }

 .section_pic-container{
    display: flex;
    height: 300px;
    width: 300px;
    margin: auto 0;
 }
 .section_text{
    align-self: center;
    text-align: center;
 }
 .section_text p{
    font-weight: 600;
 }
 .section_text_p1{
    text-align: center;
 }
 .section_text_p2{
    text-align: center;
    font-size: 1.7rem;
 }
 .title{
    font-size: 3rem;
    text-align: center;
 }


 /*RESPONSIVE */
@media (max-width: 600px) {
    body {
        padding: 0 1em;
    }
    .nav{
        display: none;
    }
    .hamburger-nav{
        display: flex;
        justify-content: space-between
    }
    section {
        margin: 0 5%;
    }
    section,
    .section-container{
        height: fit-content;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }
    #profile,
    .section-container{
        display: block;
    }
    .section_pic-container{
        width: 250px;
        height: 250px;
        margin: 0 auto 2rem;
    }
}
